<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>STRS</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="img/icon-deal.png" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Inter:wght@700;800&display=swap" rel="stylesheet">
    
    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="lib/animate/animate.min.css" rel="stylesheet">
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="css/style.css" rel="stylesheet">
</head>

<body>
    <div class="container-fluid bg-white p-0">
 

        <!-- Navbar Start -->
        <div class="container-fluid nav-bar bg-transparent">
            <nav class="navbar navbar-expand-lg bg-white navbar-light py-0 px-4">
                <a href="#" class="navbar-brand d-flex align-items-center text-center">
                    <div class="icon p-2 me-2">
                       <img class="img-fluid" src="img/icon-deal.png" alt="Icon" 
     style="width: 30px; height: 30px; min-width: 30px;" 
     onerror="this.style.display='none'">
                    </div>
                 <h1 class="m-0 text-primary">
    <span class="d-none d-md-inline">Short-Term-Rental-Service</span>
    <span class="d-inline d-md-none">STRS</span>
</h1>
                </a>
                <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <div class="navbar-nav ms-auto">
                        <a href="#" class="nav-item nav-link active">Home</a>
                        <a href="/about.html" class="nav-item nav-link">About</a>
                        <a href="/contact.html" class="nav-item nav-link">Contact</a>
                        {{!-- <a href="/" class="nav-item nav-link">Log Out</a> --}}
                    </div>
                    <a href="addProperty" class="btn btn-primary px-3 ">Add Property</a>
                </div>
            </nav>
        </div>
        <!-- Navbar End -->


        <!-- Header Start -->
        <div class="container-fluid header bg-white p-0">
            <div class="row g-0 align-items-center flex-column-reverse flex-md-row">
                
                <div class="col-md-6 p-5 mt-lg-5">
                    <h1 class="display-5 animated fadeIn mb-4">Affordable Short-Term Rentals Near <span class="text-primary">AIIMS Raipur </span></h1>
                    <p class=" lead  fst-italic animated fadeIn mb-4 pb-2">"Find safe, budget-friendly stays for patients, families, and students — all verified and close to AIIMS Raipur."</p>
                    <h3 class="display-6 animated fadeIn mb-4">Who Can Benefit?</h3>
                   <ul class="list-unstyled fs-5">
    <li class="mb-2 fst-italic ">🏥 Patients undergoing treatment at AIIMS Raipur</li>
    <li class="mb-2 fst-italic">👨‍👩‍👧 Families supporting their loved ones</li>
    <li class="mb-4 fst-italic">🎓 Medical students, interns, and trainees</li>
  </ul>
                    <a href="/properties" class="btn btn-primary py-3 px-5 me-3 animated fadeIn">Get Started</a>
                </div>
                <div class="col-md-6 animated fadeIn ">
                    <div class="owl-carousel header-carousel">
                        <div class="owl-carousel-item">
                            <img class="img-fluid" src="img/carousel-1.jpg" alt="">
                        </div>
                        <div class="owl-carousel-item">
                            <img class="img-fluid" src="img/carousel-2.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Header End -->


        <!-- Search Start -->
        <div class="container-fluid bg-primary mb-5 wow fadeIn" data-wow-delay="0.1s" style="padding: 35px;">
            <div class="container">
                <div class="row g-2">
                    <div class="col-md-10">
                        <div class="row g-2">
                            <div class="col-md-6">
                                <select id="propertyType" class="form-select border-0 py-3">
                                    <option selected>Property Type</option>
                                    <option value="1bhk">1 BHK</option>
                                    <option value="2bhk">2 BHK</option>
                                    <option value="3bhk">3 BHK</option>
                                    <option value="1room">1 Room</option>
                                    <option value="2room">2 Room</option>
                                    <option value="hall">Hall</option>
                                </select>
                            </div>
                            <div class="col-md-6">
                                <select id="location" class="form-select border-0 py-3">
                                    <option selected>Location</option>
                                    <option value="Tatibandh">Tatibandh</option>
                                    <option value="Hirapur Colony">Hirapur Colony</option>
                                    <option value="Parthivi">Parthivi</option>
                                    <option value="Harshit">Harshit</option>
                                    <option value="Lotus Valley">Lotus Valley</option>
                                    <option value="Jainam">Jainam</option>
                                    <option value="Amanaka">Amanaka</option>
                                    <option value="Kabir Nagar">Kabir Nagar</option>
                                    <option value="Bhatagaon">Bhatagaon</option>
                                    <option value="Media City">Media City</option>

                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-dark border-0 w-100 py-3" onclick="searchProperties()">Search</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Search End -->
        

        <!-- Footer Start -->
        <div class="container-fluid bg-dark text-white-50 footer pt-5 mt-5 wow fadeIn" data-wow-delay="0.1s">
            <div class="container py-5">
                <div class="row g-5">
                    <div class="col-lg-4 col-md-6">
                        <h5 class="text-white mb-4">Get In Touch</h5>
                        <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>Maula Ali Street, Raipur, INDIA</p>
                        <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>(+91)9465729756</p>
                        <p class="mb-2"><i class="fa fa-envelope me-3"></i>ramadhir@sardar.com</p>
                        <div class="d-flex pt-2">
                            <a class="btn btn-outline-light btn-social" href="#"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-outline-light btn-social" href="#"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-outline-light btn-social" href="#"><i class="fab fa-youtube"></i></a>
                            <a class="btn btn-outline-light btn-social" href="#"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <h5 class="text-white mb-4">Quick Links</h5>
                        <a class="btn btn-link text-white-50" href="#">Home</a>
                        <a class="btn btn-link text-white-50" href="/about.html">About Us</a>
                        <a class="btn btn-link text-white-50" href="/contact.html">Contact Us</a>
                        <a class="btn btn-link text-white-50" href="/properties">Browse Rentals</a>
                        
                        {{!-- <a class="btn btn-link text-white-50" href="#">Terms & Condition</a> --}}
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <h5 class="text-white mb-4">Photo Gallery</h5>
                        <div class="row g-2 pt-2">
                            <div class="col-4">
                                <img class="img-fluid rounded bg-light p-1" src="img/property-1.jpg" alt="">
                            </div>
                            <div class="col-4">
                                <img class="img-fluid rounded bg-light p-1" src="img/property-2.jpg" alt="">
                            </div>
                            <div class="col-4">
                                <img class="img-fluid rounded bg-light p-1" src="img/property-3.jpg" alt="">
                            </div>
                            <div class="col-4">
                                <img class="img-fluid rounded bg-light p-1" src="img/property-4.jpg" alt="">
                            </div>
                            <div class="col-4">
                                <img class="img-fluid rounded bg-light p-1" src="img/property-5.jpg" alt="">
                            </div>
                            <div class="col-4">
                                <img class="img-fluid rounded bg-light p-1" src="img/property-6.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End -->


        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="lib/wow/wow.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>

<script>
    function searchProperties() {
  const propertyType = document.getElementById('propertyType').value;
  const location = document.getElementById('location').value;

  // Send an HTTP GET request to the server with the search parameters
  window.location.href = `/search?propertyType=${propertyType}&location=${location}`;
}
</script>

</body>

</html>